*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.jar
*.war
*.ear
*.dwo
gradle/
package-lock.json
package.json
*.log
*.tmp
*.class
node_modules/
*.luac
